<!DOCTYPE html>
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>
		<title>DeCAD - Ce nom de domaine n'est pas disponible</title>
		<link rel="icon" href="/img-sys/style_parking/images/favicon.ico"/>
		<link rel="stylesheet" href="/img-sys/style_parking/css/style.css"/>
		<link rel="stylesheet" href="/img-sys/style_parking/css/framework.css"/>
		<script type="text/javascript" src="/img-sys/style_parking/js/jquery.js"></script>
		<script type="text/javascript" src="/img-sys/style_parking/js/spin.js"></script>
		<script type="text/javascript" src="/img-sys/style_parking/js/plugins.js"></script>
		<script type="text/javascript" src="/img-sys/style_parking/js/analytics.js"></script>
	</head>
	<body>
		<div class="spinload"></div>
		<div id="gallery">
			<canvas class="animation"></canvas>
			<div class="wallpaper" style="background-image: url(/img-sys/style_parking/images/wallpaper.jpg); background-size: cover;"></div>
			<div class="content">
				<div class="wrap medium">
					<p class="error"><img src="/img-sys/style_parking/images/logo.png" width="268" height="70" style="alignment-adjust:central"></p></br>
					<p class="info">Ce nom de domaine n'est pas disponible.</p>
                    <p class="info">Il a été enregistré via DeCAD.fr</p>
				</div>
				<div class="wrap small">
					<div class="left size-6">
						<a class="button border fast" href="http://decad.fr">Noms de domaine</a>
					</div>
					<div class="left size-6">
						<a class="button border fast" href="http://decad.fr">H&eacute;bergement</a>
					</div>
					<div class="clear"></div>
                    					<div class="left size-6">
						<a class="button border fast" href="http://decad.fr">Vitrine &amp; e-Commerce</a>
					</div>
					<div class="left size-6">
						<a class="button border fast" href="http://decad.fr">Web-Marketing</a>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
					$("#gallery").engine();
				});
			</script>
		</div>
		<div class="interface">
			<div id="custom">
				<div class="content">
					<div class="wrap large">
						<div class="left size-6">
							<div class="right">
								<a class="coverage" href="http://www.facebook.com/myDeCAD" target="_blank"><img class="icon border fast" src="/img-sys/style_parking/images/icon-facebook.png" width="256" height="256" alt="Facebook"/></a>
							</div>
							<div class="right">
								<a class="coverage" href="https://twitter.com/myDeCAD" target="_blank"><img class="icon border fast" src="/img-sys/style_parking/images/icon-twitter.png" width="256" height="256" alt="Twitter"/></a>
							</div>

							<div class="clear"></div>
						</div>
						<div class="right size-6">
                        							
							<div class="left">
								<a class="coverage" href="http://www.decad.fr" target="_blank"><img class="icon border fast" src="/img-sys/style_parking/images/icon-web.png" width="256" height="256" alt="DeCAD "/></a>
							</div>
                            <div class="left">
								<a class="coverage" href="https://plus.google.com/106591596883822144677/" target="_blank"><img class="icon border fast" src="/img-sys/style_parking/images/icon-plus.png" width="256" height="256" alt="Plus"/></a>
							</div>

							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<script type="text/javascript"></script>
			</div>
			<div id="legal">
				<div class="content">
					<div class="wrap large">
						<p class="copyright">2014 &copy; DeCAD - Va plus loin pour vous servir</p>
					</div>
				</div>
				<script type="text/javascript"></script>
			</div>
		</div>
	</body>
</html>