/*** FONTS ***/

@font-face {
	font-family: Bangers;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/bangers.woff), url(../fonts/bangers.ttf);
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/opensans.woff), url(../fonts/opensans.ttf);
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/opensans-light.woff), url(../fonts/opensans-light.ttf);
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/opensans-bold.woff), url(../fonts/opensans-bold.ttf);
}

/*** GLOBAL ***/

.spinload {
	z-index: 1000000;
	overflow: visible;
	position: fixed;
	display: block;
	height: auto;
	min-height: 100%;
	max-height: none;
	width: auto;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #000000;
	opacity: 1;
}

.interface {
	z-index: 1;
	overflow: visible;
	position: absolute;
	display: block;
	height: auto;
	min-height: 0;
	max-height: none;
	width: auto;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

.button {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	outline: 0;
	border: 0;
	border-radius: 4px 4px 4px 4px;
	background: transparent;
	opacity: 1;
	font: 400 20px/20px OpenSans, Helvetica, Arial;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}

.button:hover, .button:active, .button:focus {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	outline: 0;
	border: 0;
	border-radius: 4px 4px 4px 4px;
	background: #FFFFFF;
	opacity: 1;
	font: 400 20px/20px OpenSans, Helvetica, Arial;
	color: #000000;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}

.shadow {
	-webkit-box-shadow: 0 10px 20px -20px #000000;
	-moz-box-shadow: 0 10px 20px -20px #000000;
	-ms-box-shadow: 0 10px 20px -20px #000000;
	-o-box-shadow: 0 10px 20px -20px #000000;
	box-shadow: 0 10px 20px -20px #000000;
}

.border {
	-webkit-box-shadow: inset 0 0 0 2px #CCCCCC;
	-moz-box-shadow: inset 0 0 0 2px #CCCCCC;
	-ms-box-shadow: inset 0 0 0 2px #CCCCCC;
	-o-box-shadow: inset 0 0 0 2px #CCCCCC;
	box-shadow: inset 0 0 0 2px #CCCCCC;
}

.border:hover {
	-webkit-box-shadow: inset 0 0 0 4px #FFFFFF;
	-moz-box-shadow: inset 0 0 0 4px #FFFFFF;
	-ms-box-shadow: inset 0 0 0 4px #FFFFFF;
	-o-box-shadow: inset 0 0 0 4px #FFFFFF;
	box-shadow: inset 0 0 0 4px #FFFFFF;
}

/*** GALLERY ***/

#gallery {
	z-index: 0;
	overflow: hidden;
	position: fixed;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #000000;
	opacity: 1;
}

#gallery .animation {
	z-index: 1000000;
	overflow: visible;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#gallery .wallpaper {
	z-index: 0;
	overflow: visible;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent no-repeat scroll center center;
	opacity: 1;
}

#gallery .content {
	z-index: 1000000;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#gallery .content .wrap .error {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	font: 400 50px/50px Bangers, Helvetica, Arial;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 5px 0 #000000;
}

#gallery .content .wrap .info {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	font: 400 20px/30px OpenSans, Helvetica, Arial;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}

/*** CUSTOM ***/

#custom {
	z-index: 0;
	overflow: hidden;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #FFFFFF;
	opacity: 1;
}

#custom .content {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#custom .content .wrap .coverage {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#custom .content .wrap .coverage .icon {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: 60px;
	width: 60px;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 30px 30px 30px 30px;
	background: transparent;
	opacity: 1;
}

/*** LEGAL ***/

#legal {
	z-index: 0;
	overflow: hidden;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #86bb4f;
	opacity: 1;
}

#legal .content {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#legal .content .wrap .copyright {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	font: 400 14px/20px OpenSans, Helvetica, Arial;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}